#home
  .row.full-width.home-container
    .large-6.columns.left
      %h1.main.red= t('headline')
      .facebook
        = link_to '/people/auth/facebook' do
          = image_tag 'fb-login.png'
    .large-6.columns.right
      .box.right.large-10
        = form_for Person.new do |f|
          .field
            = f.label :name
            = f.text_field :name

          .field
            = f.label :email
            = f.email_field :email

          .field
            = f.label :password
            = f.password_field :password, autocomplete: "off"

          .field
            = f.label :password_confirmation, t('confirm_password')
            = f.password_field :password_confirmation, autocomplete: "off"

          .actions
            = f.submit t('sign_up'), class: 'btn gray'