#home
  .row.full-width.home-container
    .large-6.columns.left
      %h1.main.red Some very meaningful and beautiful headline
      .facebook
        = link_to '/people/auth/facebook' do
          = image_tag 'fb-login.png'
    .large-6.columns.right
      .box.right.large-10
        = form_for Person.new do |f|
          .field
            = f.label :name
            = f.text_field :name

          .field
            = f.label :email
            = f.email_field :email

          .field
            = f.label :password
            = f.password_field :password, autocomplete: "off"

          .field
            = f.label :password_confirmation, "Confirm password"
            = f.password_field :password_confirmation, autocomplete: "off"

          .actions
            = f.submit "Sign up", class: 'btn gray'