- if @is_admin
  .draw-notice
    - if @group.can_draw_names?
      = button_to t('draw_now'), draw_group_path, remote: true, class: 'btn btn-success btn-large draw_names', data: {confirm: {title: t('are_you_sure'), ok: t('sure'), cancel: t('cancel'), modal_class: 'confirmation-modal', ok_class: 'confirm-drawing button alert'}}
    .light
      - if @group.can_draw_names?
        = t('can_draw_warning')
      - else
        = t('cannot_draw_warning')
  .draw-loading.hidden
    = t('drawing_loader')
    = image_tag 'loader.gif'
    %span= t('good_luck')
  .draw-done.hidden
    = t('done')
    = link_to t('who_did_i_get'), who_group_path(@group)
- else
  .light
    - if @group.can_draw_names?
      = t('waiting_for_drawing')
    - else
      = t('cannot_draw_warning')
    