= form_for group do |f|
  = hidden_field_tag 'group[admin_id]', group.try(:admin).try(:id) || current_person.id
  .row.collapse
    = f.label :name, t('name')
    = f.text_field :name
    = f.label :description, t('description')
    = f.text_area :description, rows: 5
    = f.label :location, t('location')
    = f.text_field :location
  .row
    .large-12
      .large-8.columns
        = f.label :date, t('date')
        %div{style: "overflow:hidden;"}
          .form-group
            .row
              .col-md-8
                #datetimepicker
        = hidden_field_tag 'group[date]', group.try(:date) || Time.new.getutc.change({ hour: 20, min: 0, sec: 0 })
      .large-4.columns
        = f.label :price_range, t('price_range')
        = f.text_field :price_range, disabled: group.draw_done?
        = f.submit t('save'), class: 'btn gray group-form-submit'