.member{id: "person_#{person.id}"}
  .avatar= image_tag person.photo_by_size('normal')
  .name= person.name || person.email.split('@').first[0..20]
  - if person.is_admin?(@group)
    .status Group Admin
  - else
    .status{class: "#{person.status}"}= person.status.capitalize
    - if @is_admin
      .edit= link_to 'Edit', 'javascript:;', class: 'edit-link'
      .row.small-1.box.edit-member
        %p= link_to 'Make group admin', make_admin_group_path(member_id: person.id), method: :put, data: {confirm: 'Are you sure?'}
        - if draw_pending
          %p= link_to 'Remove from group', remove_member_group_path(member_id: person.id), class: 'red', method: :delete, remote: true, data: {confirm: 'Are you sure?'}