- status = person.status(@group)

.member{id: "person_#{person.id}"}
  = link_to view_wishlist_group_path(person_id: person.id) do
    .avatar= image_tag person.photo_by_size('normal')
  .name= link_to person.name || person.email.split('@').first[0..20], view_wishlist_group_path(person_id: person.id)
  - if person.is_admin?(@group)
    .status= t('group_admin')
  - else
    .status{class: "#{status}"}= t("#{status}")
    - if @is_admin
      .edit= link_to t('edit'), 'javascript:;', class: 'edit-link'
      .row.small-1.box.edit-member
        - if status == 'active'
          %p= link_to t('make_admin'), make_admin_group_path(member_id: person.id), method: :put, data: {confirm: {title: t('are_you_sure'), ok: t('sure'), cancel: t('cancel'), modal_class: 'confirmation-modal'}}
        - if draw_pending
          %p= link_to t('remove_member'), remove_member_group_path(member_id: person.id), class: 'red', method: :delete, remote: true, data: {confirm: {title: t('are_you_sure'), ok: I18n.t('sure'), cancel: t('cancel'), modal_class: 'confirmation-modal'}}