.row.full-width
  %h1= t('group_activity')
  .row.full-width
    .full-width.columns.left
      - if @activity.any?
        - @activity.each do |activity|
          .box
            .activity
              .person-pic= image_tag activity.person.photo_by_size('small')
              .activity-box
                .activity-description= activity.description
                .light
                  .date= localize_datetime(activity.created_at)
      - else
        .box
          .light
            = t('no_group_activity')