= form_tag update_wishlist_group_path, method: :post do
  .row.full-width
    %h1 Edit My Wishlist
    .box

      = label_tag 'wishlist_description', 'General comments'
      .light Anything that would help your friend pick a present for you. Like favorite colors, favorite themes, anything.
      = text_area_tag :wishlist_description, @description, rows: 3
      %br
      .right= submit_tag 'Save', class: 'btn gray'

    .section-header
      %h1 Items
      .action
        .add-members= link_to '+ Add items', 'javascript:;'
    .box.invitation-box
      .close-invitation-box= link_to 'Close', 'javascript:;'
      .success.hidden
        .success-title The following invitations were sent successfully:
        .success-list
      .error.hidden
        .error-title The following invitations could not be sent:
        .error-list

      .wishlist-item-fields.clonable-field
        = label_tag 'items[][name_or_url]', 'Name or URL of the item'
        .close.hidden= link_to 'x', 'javascript:;', class: 'red'
        = text_field_tag 'items[][name_or_url]'

        = label_tag 'items[][comments]', 'Comments'
        = text_area_tag 'items[][comments]', nil, rows: 2

      .large3.columns
        .add-more= link_to '+ Add more', 'javascript:;'
        = submit_tag 'Add', class: 'btn gray'
    .row.full-width
      - if @wishlist_items.any?
        = render 'groups/wishlist_items'
      - else
        .full-width.columns.left
          .box
            .light
              You don't have any items on your list yet.
              = link_to 'Add some!', edit_wishlist_group_path