.row.full-width
  .section-header
    %h1= t('my_groups')
    .action
      = link_to t('new_group'), new_group_path

  - if @groups.any?
    .row.full-width
      - @groups.each do |group|
        .large-6.columns.left
          .box.group-about.index-group-about
            .info.index-info
              %p= link_to group.name, group_path(group)
              - if current_person.confirmed?(group)
                .item
                  .bold= t('where')
                  = cut_text(group.location, 30) 
                .item
                  .bold= t('status')
                  - if group.status == 1
                    = t('status_drawn')
                    %br
                    = link_to t('see_result'), who_group_path(group)
                  - else
                    .red= t('status_pending')
              - else
                .item
                  = t('you_were_invited')
                  .accept-invitation
                    = button_to t('join'), accept_group_group_path(group), method: :get, class: 'btn btn-success'
                    = link_to t('no_thanks'), leave_group_path(id: group.id), method: :delete, class: 'red', data: {confirm: {title: t('are_you_sure'), ok: t('sure'), cancel: t('cancel'), modal_class: 'confirmation-modal'}}
            .side
              .calendar-small
                .month= t("months")[group.date.month]
                .day= group.date.day
                .time= localize_time(group.date)

  - else
    = t('no_groups')
    = link_to t('create_group'), new_group_path


- if @activity.any?
  .row.full-width
    .section-header
      %h1= t('latest_activity_home')

    - @activity.each do |activity|
      .box
        .activity
          .person-pic= image_tag activity.person.photo_by_size('small')
          .activity-box
            .activity-description= activity.full_description
            .light
              .date= localize_datetime(activity.created_at)