.row.full-width
  %h1= t('edit_my_wishlist')

  .row.full-width
    .full-width.columns.left
      .box#message-board
        - @messages.each do |message|
          = render partial:'message', locals:{message: message}

  .wishlist-item-fields
    = form_tag send_message_group_path, method: :post, remote: true, id: 'new-message' do
      = label_tag 'message', t('message')
      = text_area_tag 'message', nil, rows: 2
      = submit_tag t('save'), class: 'btn gray group-form-submit'