<% if @errors.any? %>
  <% @errors.each do |email, error| %>
    $('.error-list').append("<span><%= email %>: <%= error %></span><br />");
  <% end %>
  $('.error').removeClass('hidden').fadeIn();
<% end %>

<% if @success.any? %>
  <% @success.each do |email| %>
    $('input').filter(function() { return this.value == "<%= email %>" }).parent('.invite-friend').remove();
    $('.success-list').append("<span><%= email %></span><br />");
    <% person = Person.where(email: email).first %>
    <% if person %>
      $('.members').append("<%= j render(partial:'groups/member', locals: {person: person, draw_pending: @draw_pending}) %>");
    <% end %>
  <% end %>
  $('.success').removeClass('hidden').fadeIn();
  <% if @draw_pending %>
    $('.group-draw').html('');
    $('.group-draw').append("<%= j render(partial:'groups/draw_pending') %>");
  <% end %>
<% end %>

if($('.invite-friend').length == 1) {
  $('.close').hide();
}

if($('.invite-fields').children().length == 0) {
  $('.invite-fields').append("<%= j render(partial:'groups/invitation_field') %>");
}