.row.full-width
  .section-header
    %h1= @group.name
    - if @is_admin
      .action= link_to t('edit_info'), edit_group_path(@group)
  .row.full-width
    .large-8.columns.left
      .box.group-about
        .info
          .item
            .calendar
              .month= t("months")[@group.date.month]
              .day= @group.date.day
              .time= localize_time(@group.date)
            .bold= t('where')
            %p= @group.show_location
            .bold= t('price_range')
            %p= @group.show_price_range
            .bold= t('description')
            = @group.show_description
          - unless current_person.confirmed?(@group)
            .item
              = t('you_were_invited')
              .accept-invitation
                = button_to t('join'), accept_group_group_path(@group), method: :get, class: 'btn btn-success'
                = link_to t('no_thanks'), leave_group_path, method: :delete, class: 'red', data: {confirm: {title: t('are_you_sure'), ok: t('sure'), cancel: t('cancel'), modal_class: 'confirmation-modal'}}
        - if !@is_admin && @draw_pending && current_person.confirmed?(@group)
          .leave= link_to t('leave_group'), leave_group_path, method: :delete, class: 'red', data: {confirm: {title: t('are_you_sure'), ok: t('sure'), cancel: t('cancel'), modal_class: 'confirmation-modal'}}

    .large-4.columns.right
      .side
        #map
  .row
    .large-6.columns.left
      .section-header
        %h1= t('members')
        - if @draw_pending && current_person.confirmed?(@group)
          .action
            .add= link_to t('add_members'), 'javascript:;'
      - if @draw_pending
        .box.sliding-box
          .close-sliding-box= link_to t('close'), 'javascript:;'
          .success.hidden
            .success-title= t('invitations_sent')
            .success-list
          .error.hidden
            .error-title= t('invitations_not_sent')
            .error-list
          = form_tag send_invitations_group_path, method: :post, remote: true do
            .invite-fields
              = render 'invitation_field'
            .large3.columns
              .add-more= link_to t('add_more'), 'javascript:;'
              = submit_tag t('send_invitations'), class: 'btn gray', onclick: "$(this).unbind('click')"

      .box.members
        - @group.people.each do |person|
          = render partial: 'groups/member', locals: {person: person, draw_pending: @draw_pending}
    .large-6.columns.left
      .section-header
        %h1= t('latest_group_activity')
        .action
          = link_to t('view_all'), activity_group_path
      - if @activity.empty?
        .box.activity-box
          .light
            = t('no_group_activity')
      - else
        .box.activity-box
          - @activity.each do |activity|
            = render 'activity', activity: activity

  .row.full-width
    .large-6.columns.left
      .section-header
        %h1= t('drawing')
      - if @draw_pending
        .box.group-draw= render 'groups/draw_pending'
      - else
        .group-draw= render 'groups/draw_done'
    .large-6.columns.left
      - if current_person.confirmed?(@group)
        .row
          .columns.left
            .section-header
              %h1= t('my_wishlist')
              .action
                = link_to t('edit_wishlist', item_count: @wishlist_size), edit_wishlist_group_path
            .box.wishlist
              - if !@wishlist_description && @wishlist_items.empty?
                .light
                  = t('empty_wishlist')
                  = link_to t('create_wishlist'), edit_wishlist_group_path
              - else
                - if @wishlist_description.present?
                  = @wishlist_description
                - else
                  .light
                    = t('empty_wishlist_description')
  .row.full-width.message-board
    .section-header
      %h1= t('message_board')
    #sso.hidden= @sso_js.html_safe
    .fix
    .box#disqus_thread
      :javascript
        var disqus_shortname  = 'itsrudolph'
        var disqus_identifier = 'group_'+#{@group.id};

        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();