.row.full-width
  %h1= @group.name
  .row.full-width
    .large-8.columns.left
      .box.group-about
        .info
          .item
            .calendar
              .month= t("months")[@group.date.month]
              .day= @group.date.day
              .time= localize_time(@group.date)
            .bold= t('where')
            %p= @group.show_location
            .bold= t('price_range')
            %p= @group.show_price_range
            .bold= t('description')
            = @group.show_description
          - if current_person.confirmed?(@group)
            - if @is_admin
              .item= link_to t('edit_info'), edit_group_path(@group)
          - else
            .item
              = t('you_were_invited')
              .accept-invitation
                = button_to t('join'), accept_group_group_path(@group), method: :get, class: 'btn btn-success'
                = link_to t('no_thanks'), leave_group_path, method: :delete, class: 'red', data: {confirm: {title: t('are_you_sure'), ok: t('sure'), cancel: t('cancel'), modal_class: 'confirmation-modal'}}
        - if !@is_admin && @draw_pending && current_person.confirmed?(@group)
          .leave= link_to t('leave_group'), leave_group_path, method: :delete, class: 'red', data: {confirm: {title: t('are_you_sure'), ok: t('sure'), cancel: t('cancel'), modal_class: 'confirmation-modal'}}

    .large-4.columns.right
      .side
        #map
  %br
  - unless @draw_pending
    %h1= t('drawing')
    .group-draw
      = render 'groups/draw_done'
  %br
  .section-header
    %h1= t('members')
    - if @draw_pending && current_person.confirmed?(@group)
      .action
        .add= link_to t('add_members'), 'javascript:;'
  - if @draw_pending
    .box.sliding-box
      .close-sliding-box= link_to t('close'), 'javascript:;'
      .success.hidden
        .success-title= t('invitations_sent')
        .success-list
      .error.hidden
        .error-title= t('invitations_not_sent')
        .error-list
      = form_tag send_invitations_group_path, method: :post, remote: true do
        .invite-fields
          = render 'invitation_field'
        .large3.columns
          .add-more= link_to t('add_more'), 'javascript:;'
          = submit_tag t('send_invitations'), class: 'btn gray', onclick: "$(this).unbind('click')"

  .members
    - @group.people.each do |person|
      = render partial: 'groups/member', locals: {person: person, draw_pending: @draw_pending}

  - if @draw_pending
    %h1= t('drawing')
    .box.group-draw
      = render 'groups/draw_pending'

  - if current_person.confirmed?(@group)
    %br
    .row.full-width
      .columns.left
        .section-header
          %h1= t('my_wishlist')
          .action
            = link_to t('edit_wishlist'), edit_wishlist_group_path
        - if !@wishlist_description && @wishlist_items.empty?
          .box
            .light
              = t('empty_wishlist')
              = link_to t('create_wishlist'), edit_wishlist_group_path
        - else
          - if @wishlist_description
            %p= @wishlist_description
          - if @wishlist_items
            - @wishlist_items.each do |item|
              .large-4.columns.left
                .box.wishlist-item-small
                  - if item.image
                    .image= image_tag item.image
                  .info
                    .title
                      - if is_url?(item.name_or_url)
                        = link_to "#{item.link_title || item.name_or_url}"[0..50], item.name_or_url
                      - else
                        = item.name_or_url
            - if @wishlist_size > 3
              .action.right= link_to t('view_all'), edit_wishlist_group_path

  %br
  .section-header
    %h1= t('latest_group_activity')
    .action
      = link_to t('view_all'), activity_group_path
  - if @activity.empty?
    .box
      .light
        = t('no_group_activity')
  - else
    - @activity.each do |activity|
      .box
        .activity
          .person-pic= image_tag activity.person.photo_by_size('small')
          .activity-box
            .activity-description= activity.description
            .light
              .date= localize_datetime(activity.created_at)