.row.full-width
  %h1= @group.name
  .box.group-about
    .info
      .item
        .bold When
        = @group.date
      .item
        .bold Where
        = @group.location
      .item
        .bold Price range
        = @group.price_range
      .item
        .bold Description
        = @group.description
      - if @is_admin
        .item
          .bold Admin actions
          = link_to 'Edit group info', edit_group_path(@group)
    .map
      = image_tag 'fake_map.png'
  %br
  %h1 Drawing
  - if @is_admin && @draw_pending
    .box.group-draw
      - if @group.can_draw_names?
        = button_to "Draw names now", draw_group_path, remote: true, class: 'btn btn-success btn-large draw_names'
      .draw-notice
        - if @group.can_draw_names?
          Remember: you cannot invite any more people to the group after the names are drawn.
        - else
          The drawing can only start after everyone who was invited accepts the invitation.
      .draw-loading.hidden
        Drawing names...
        = image_tag 'loader.gif'
        %span May the odds be ever in your favor.
      .draw-done.hidden
        Done! 
        = link_to 'Who did I get?', who_group_path(@group)
  - unless @draw_pending
    .box.group-draw
      Names have been drawn!
      = link_to 'Find out who you got!', who_group_path(@group)
  %br
  .section-header
    %h1 Members
    - if @draw_pending
      .action
        = link_to '+ Add members', 'javascript:;', onclick:"$('.invitation-box').slideToggle()"
  - if @draw_pending
    .box.invitation-box
      .success.hidden
        .success-title The following invitations were sent successfully:
        .success-list
      .error.hidden
        .error-title The following invitations could not be sent:
        .error-list
      = form_tag send_invitations_group_path, method: :post, remote: true do
        .invite-fields
          .invite-friend
            = label_tag 'friends[]', 'Email'
            = text_field_tag 'friends[]'
        .large3.columns
          .add-more= link_to '+ Add more', 'javascript:;'
          = submit_tag 'Send invitations', class: 'btn gray'

  .members
    - @group.people.each do |person|
      = render partial: 'groups/member', locals: {person: person, draw_pending: @draw_pending}