#confidential
  .row
    .sticker
      = t('top_secret')

      .show-me= link_to t('show_me'), 'javascript:;', class: 'show-who'
  = image_tag 'confidential.png'

#who.hidden
  .row.bread= render_breadcrumbs :tag => :li, :separator => ">&nbsp&nbsp"
  .row.who-description
    .photo
      = image_tag @person.photo_by_size('large')
    .text
      %h1= "#{t('oscar')} #{@person.name || @person.email}!"
      = t('who', name: @person.name || @person.email)

  .row.full-width.collapse
    .section-header
      %h1= t('persons_wishlist', name: @person.first_name)
    - if @wishlist_description.present?
      .box= @wishlist_description

    .row.full-width
      - if @wishlist_items.any?
        = render 'groups/wishlist_items'
      - else
        .full-width.columns.left
          .box
            .light= t('persons_empty_wishlist', name: @person.first_name)