#confidential
  .row
    .sticker
      This is top secret information. Are you sure no one from the group can see your screen right now?

      .show-me= link_to 'Yes. Show me the truth.', 'javascript:;', class: 'show-who'
  = image_tag 'confidential.png'

#who.hidden
  .row.bread= render_breadcrumbs :tag => :li, :separator => ">&nbsp&nbsp"
  .row.who-description
    .photo
      = image_tag @person.photo_by_size('large')
    .text
      %h1= "And the Oscar goes to... #{@person.name || @person.email}!"
      Looks like
      = @person.name || @person.email
      is the lucky friend who's getting a present from you!

  .row.full-width
    .section-header
      %h1= "#{@person.first_name}'s Wishlist"
    - if @wishlist_description
      %p= @wishlist_description

    .row.full-width
      - if @wishlist_items.any?
        = render 'groups/wishlist_items'
      - else
        .full-width.columns.left
          .box
            .light= "#{@person.name} doesn't have any wishlist items yet..."