#footer.contain-to-grid
  .row.full-width
    %p
      = t('created_by')
      = link_to 'Flora Saramago', 'http://www.florasaramago.com', {target: '_blank'}
      = t('in_2015')

    %p.language
      = link_to 'English', change_locale_people_path(locale: 'en'), method: :post
      |
      = link_to 'Português', change_locale_people_path(locale: 'pt-br'), method: :post