#footer.contain-to-grid
  .row.full-width
    .large-4.columns.social
      .addthis_native_toolbox
      = link_to 'Github repo', 'https://github.com/florasaramago/Rudolph', class: 'github', target: '_blank'
    .large-4.columns
      %p
        = t('created_by')
        = link_to 'Flora Saramago', 'http://www.florasaramago.com', {target: '_blank'}
        = t('in_2015')

      %p.language
        = link_to 'English', change_locale_people_path(locale: 'en'), method: :post
        |
        = link_to 'Português', change_locale_people_path(locale: 'pt-br'), method: :post
    .large-4.columns