= form_tag session_path(:person) do
  = label_tag 'person[email]', 'Email'
  = text_field_tag 'person[email]'
  = label_tag 'person[password]', t('password')
  = password_field_tag 'person[password]'
  .remember-me
    = check_box_tag 'person[remember_me]'
    = label_tag 'person[remember_me]', t('remember_me')
  = submit_tag t('sign_in'), class: 'btn gray'
  = link_to t('forgot_your_password'), new_password_path(:person)