.row.full-width
  .section-header
    %h1= t('my_account')
    .action= link_to t('cancel_my_account'), person_path(resource), method: :delete, class: 'red', data: {confirm: {title: t('are_you_sure'), ok: t('sure'), cancel: t('cancel'), modal_class: 'confirmation-modal'}}
  .box
    = form_for(resource, as: resource_name, html: { method: :put }) do |f|

      .row.collapse
        .large-6
          .field
            = f.label :name
            = f.text_field :name

          - unless resource.provider
            .field
              = f.label :email
              = f.email_field :email

      - unless resource.provider
        .row
          .large-6
            .large-6.columns
              = f.label :password
              = f.password_field :password, autocomplete: "off"
            .large-6.columns
              = f.label :password_confirmation
              = f.password_field :password_confirmation, autocomplete: "off"

        = f.label :image
        = f.file_field :image

      .actions
        = f.submit t('update'), class: 'btn gray'

  - unless resource.provider == 'facebook'
    = link_to '/people/auth/facebook' do
      - if I18n.locale.to_s == 'pt-br'
        = image_tag 'fb-connect-pt.png'
      - else
        = image_tag 'fb-connect.png'