.row.full-width
  .section-header
    %h1 My account
    .action= link_to "Cancel my account", person_path(resource), method: :delete, class: 'red', data: {confirm: {title: 'Are you sure?', ok: 'Yes', modal_class: 'confirmation-modal'}}
  .box
    = form_for(resource, as: resource_name, html: { method: :put }) do |f|

      .row.collapse
        .large-6
          .field
            = f.label :name
            = f.text_field :name

          - unless resource.provider
            .field
              = f.label :email
              = f.email_field :email

      - unless resource.provider
        .row
          .large-6
            .large-6.columns
              = f.label :password
              = f.password_field :password, autocomplete: "off"
            .large-6.columns
              = f.label :password_confirmation
              = f.password_field :password_confirmation, autocomplete: "off"

      .actions
        = f.submit "Update", class: 'btn gray'

  - unless resource.provider == 'facebook'
    = link_to '/people/auth/facebook' do
      = image_tag 'fb-connect.png'
