<!doctype html>
%html
  %head
    %title Rudolph

    %meta{charset: 'utf-8'}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %meta{property: "og:type", content: "website"}
    %meta{property: "og:title", content: "Rudolph"}
    %meta{property: "og:description", content: "The best Secret Santa app ever."}
    %meta{property: "og:url", content: "http://itsrudolph.com"}
    %meta{property: "og:image", content:"http://itsrudolph.com/rudolph_thumb.png"}
    %meta{property: "og:image:type", content:"image/png"}
    %meta{property: "og:image:width", content:"700"}
    %meta{property: "og:image:height", content:"388"}
    %meta{name: "description", content: "The best Secret Santa app ever."}
    %meta{name: "keywords", content:"rudolph, secret santa, amigo oculto, secret, santa, gift, gifts, exchange, christmas, natal, easter, páscoa, holidays, flora saramago"}
    %meta{name:"robots", content:"index"}

    %link{rel:"image_src", href:"http://itsrudolph.com/rudolph_thumb.png"}

    = stylesheet_link_tag    "application", media: "all"
    = favicon_link_tag       'favicon.png'
    = csrf_meta_tags

  %body
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70427849-1', 'auto');
      ga('send', 'pageview');

      var _swell_site_ids = _swell_site_ids || [];
      _swell_site_ids.push('33f0ab78');
      (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//df50assd5876f.cloudfront.net/hello.js';
      ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
      })();

      window.fbAsyncInit = function() {
        FB.init({
          appId      : '350117775183108',
          xfbml      : true,
          version    : 'v2.4'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    #wrapper
      = render 'shared/header'
      = render 'layouts/messages'

      - unless hide_breadcrumbs?
        .row.bread= render_breadcrumbs :tag => :li, :separator => ">&nbsp&nbsp"

      #contents
        = yield
      - unless hide_footer?
        = render 'shared/footer'

    = javascript_include_tag "https://maps.googleapis.com/maps/api/js"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56119761615d1010", "async" => "async"
    = javascript_include_tag "vendor/modernizr"